<div class="container footer-container">

    <div class="footer-section">

        <p>Copyright © 2021 <a href="https://projectofprojects.com/" title="Projet des Projets">{{ 'pop'| trans }}</a></p>

        <p>{{ 'powered.by'| trans }} <a href="https://www.symfony.com/" target="_blank" title="Symfony" rel="nofollow">Symfony</a> 🚀</p>

    </div>

    <div class="footer-section">

        <p><a href="{{path ('contact_website') }}">{{ 'contact.us'| trans }}</a></p>

        <p><a href="{{path ('static', {'page_name': 'credits'}) }}">{{ 'credits'| trans }}</a></p>

    </div>
    
</div>

<style>

    .footer-container{
        display: flex;
        justify-content: space-between;
        padding: 30px 0px 25px;
        font-size: 1.2em;
        font-weight: bold;
        
    }

    .footer-container a{
        text-decoration: none;
        
    }


    @media screen and (max-width: 580px) {

        .footer-container{
            display: block;
            padding: 15px 0px 10px;
            font-size: 1em;
            
        }

        .footer-section{
            text-align: center;
        }

        .footer-section p:last-child{
            margin-bottom: 0;
    
        }

    }



</style>