<div class="container footer-container">

    <div class="footer-section-1">

        <p>Copyright © 2021 <a href="https://projectofprojects.com/" title="Projet des Projets">{{ 'Project of Projects'|trans }}</a>.</p>

        <p>{{ 'Powered by'|trans }} <a href="https://www.symfony.com/" target="_blank" title="Symfony" rel="nofollow">Symfony</a>.</p>

    </div>

    <div class="footer-section-2">

        <p><a href="{{path ('contact_website') }}">{{ 'Contact Us'|trans }}</a></p>

        <p><a href="">{{ 'Credits'|trans }}</a></p>

    </div>
    
</div>

<style>

    .footer-container{
        display: flex;
        justify-content: space-between;
        padding: 30px 0px 25px;
        font-size: 1.2em;
        
    }

    .footer-container a{
        text-decoration: none;
        
    }
</style>