{# Header Navbar #}

<header>

    <nav class="navbar navbar-expand-sm">
    
        <div class="container justify-content-start p-0">

            <!-- Website Brand -->


                {# Website Logo #}
        
                <a class="navbar-brand" href="/">
            
                    <img src="{{asset ('misc/project-of-projects-logo.png', 'static_images')}}" alt="website logo" loading="lazy" width="80px" height="80px" style="width:100%;" />
            
                </a>

                <div class="site-info-wrap">

                    <a href="/" style="text-decoration: none;">

                        <p class="site-title">

                            {{ 'Project of Projects'|trans }}
                            
                        </p>

                        <p class="site-description">{{ 'Present Projects at Large Scale'|trans }}</p>                
                    
                    </a>


                </div>

            
            {# Static Menu #}
    
            <ul class="navbar-nav fw-bold ms-auto">
        
                <!--<li class="nav-item fs-5 me-3 d-none d-md-inline">
        
                    <a class="nav-link text-white" aria-current="page" href="/">Home</a>
        
                </li> -->

                <!-- Locale Switcher -->

                <li class="nav-item dropdown text-body">

                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.request.locale|locale_name(app.request.locale)|u.title  }}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">

                        <a class="dropdown-item" href="{{ path('homepage', {_locale: 'en'}) }}">English</a>

                        <a class="dropdown-item" href="{{ path('homepage', {_locale: 'fr'}) }}">Français</a>

                    </div>

                </li>

            </ul>

    
        </div>
  
    </nav>
  
</header>