
{% macro item_container(fileExtension, caption) %}

    {# Searching for an appropriate translation of the manifesto #}

    {% set manifestoAvailableTranslations = ['en','fr'] %}

    {% set directory = 'en' %}

    {% set userLocale = app.request.locale %}

    {% if userLocale in manifestoAvailableTranslations %}

        {% set directory = userLocale %}

    {% endif %}

    <a href="{{asset ('manifesto/'~ userLocale ~'/project-of-projects-manifesto.'~ fileExtension, 'static_files')}}" target="_blank">

        <div class="item-container">

            <div class="icon-container">

                <img src="{{asset ('icons/files/'~ fileExtension ~'.png', 'static_images')}}" alt="{{fileExtension}} icon" height="100" width="100">

            </div>

            <div class="caption-container text-center">

                {{caption}}

            </div>

        </div>

    </a>

{% endmacro %}


    <h3 class="text-center mb-2">
        
        <b>{{ 'thepop.manifesto' | trans }}</b>

    </h3>

    {# 

    <p class="fs-3 text-center">
        {{ 'choose.format' | trans }}
    </p> #}


    <br>

    <div class="download-items-container d-flex justify-content-center">

        {{ _self.item_container('pdf', 'pdf.format' |trans ) }}
       {#  {{ _self.item_container('epub', 'epub.format' |trans ) }} #}

    </div>


<style>

    .item-container{
        display: inline-block;
        width: 120px;
        font-weight: bold;
        color: black;
        margin-right: 20px;
    }
    .icon-container{
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
</style>