

<div id="join-us-area" class="join-us-area">

    <h5>{{ 'How to Participate' | trans }}</h5>

    <ul>
        <li>{{ '' | trans }}</li>
        <li>{{ '' | trans }}</li>
        <li>{{ '' | trans }}</li>
        <li>{{ '' | trans }}</li>
        <li>{{ '' | trans }}</li>
    </ul>

</div>

<style>

    .join-us-area{
        border: 1px solid rgb(226, 194, 253);
        border-radius: 5px;
        padding: 10px;
    }

</style>