{% embed "_utilities/jumbotron_skeleton.html.twig" %}

    {% block image %}

        <img src="{{asset ('large/project-of-projects-network.jpg', 'static_images')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" alt="A network of projects on a world map" loading="lazy" width="450" height="450">

    {% endblock %}

    {% block text %}

        <p class="lead">

            {{ 'introduce.initiative' | trans }}
            
            <b>{{ 'wikipedia.analogy' | trans }}</b>.

        </p>

        <p class="lead">

            {{ 'learn.more.suggestion' | trans }}

             <b><a href="#download-manifesto-area">

                {{ 'pop.manifesto' | trans }}</a></b>.

        </p>

        <p class="lead">

            <b>{{ 'pop.need.help' | trans }}</b>.
            {{ 'ask.contributions' | trans }}
            
            <a href="{{path ('contact_website') }}">
                {{ 'contact.us' | trans | lower }}</a>.

        </p>
    
    {% endblock %}

{% endembed %}