{% extends 'base.html.twig' %}

{% block stylesheets %}<link href="/css/articles.css" rel="stylesheet">{% endblock %}

{% block title %}{{ 'credits' | trans }}{% endblock %}

{% block body %}



<article class="container px-0 static-content">

    <h1 class="">{{ 'Credits' | trans }}</h1>	
    
    <h3><strong>{{ 'Images' | trans }}</strong></h3>

    <h4><strong>{{ 'Homepage' | trans }}</strong></h4>

    <ul>

        <li><strong>{{ 'Global Network Map' | trans }}</strong> : Freepik, <a rel="noreferrer noopener" href="http://www.freepik.com" target="_blank">www.freepik.com</a></li>

        <li><strong>{{ 'EPUB Icon' | trans }}</strong> : Freepik, <a rel="noreferrer noopener" href="https://www.flaticon.com/" target="_blank">www.flaticon.com</a></li>
        
        <li><strong>{{ 'PDF Icon' | trans }}</strong> : Freepik, <a href="https://www.flaticon.com/" target="_blank">www.flaticon.com</a></li>

    </ul>
        
</article>

{% endblock %}
